In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from string import digits
import numpy as np
# import psycopg2

In [2]:
#Part 1. ETL
csv = "./indeed_job_dataset_V5_CSV.csv"
df = pd.read_csv(csv)
df.head()

,Index_No,Job_Title,Job_Type,Link,Queried_Salary,<80000,80000-99999,100000-119999,120000-139999,140000-159999,...,spss,softwaredevelopment,shellscripting,datascience,docker,mongodb,.net,projectmanagement,businessintelligence,s3
0,0,Data Scientist,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,Data Scientist,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Data Scientist I,Data Scientist,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [3]:
df.fillna(value='', inplace=True)

In [4]:
postgres='williammdavis'
password = 'FuzzyRug5x7'

In [5]:
engine = create_engine(f"postgres://uyhwkcfnfwhygs:0ec57b0b5955e42e631ffb287ca46c6b4e5a06b7ae3be0834b73cd79acdd1887@ec2-54-158-222-248.compute-1.amazonaws.com:5432/dbbbblv5k9ft64")
conn = engine.connect()
# conn = engine.connect(database='dbbbblv5k9ft64', user='postgres', password='postgres')

In [ ]:
# Indeed already exists
df.to_sql('indeed', engine, if_exists="append")

In [ ]:
Project_2 = pd.read_sql("SELECT * FROM indeed", conn)
Project_2.head()

In [ ]:
# df to dictionary toooooo somtehing like this: "to dictionary" 
#     integrate with flask

In [ ]:
P2_DF = pd.DataFrame(Project_2).reset_index(drop=True)

In [ ]:
P2_DF_V2 = P2_DF.drop(columns=['index', 'Index_No'])
P2_DF_V2

In [ ]:
P2 = P2_DF_V2.to_dict(orient='records')

In [ ]:
P2

In [ ]:
csv = "./Skill_By_Job_Type.csv"
df2 = pd.read_csv(csv)
df2.head()

In [ ]:
df2.to_sql('job_type', engine, if_exists="append")

In [ ]:
df2

In [ ]:
job_type = df2.to_dict(orient='records')

In [ ]:
job_type